/* ==========================================================================
  c-forms, fieldsets, controls, labels, inputs
  structure of form field component:
  form >
    fieldset.field >
        div.control >
            input
            label
   ========================================================================== */

form {
    &:invalid button {
        // color: rgb(163, 26, 10);
        // background: rgba(255, 6, 6, 0.1);
        // border: 1px solid rgb(163, 26, 10);
        border: 1px solid #eee;
        background-color: #eee;
        color: #ccc;
        @include transition(all, .3s, ease-out);
        &:hover {
        }

    }
}

select.invalid:invalid, input.invalid:invalid {
    background: hsla(16, 100%, 47%, .1);
    transition: all, 4s, ease-out;
}

/* ==========================================================================
  c-fieldset
   ========================================================================== */
fieldset .error {
    font-weight: 200;
    font-size: .8em;
    font-style: italic;
    margin-top: 5px;
    color: color(danger)
}

fieldset, .field {
    padding-bottom: .6em;
}
.control {
    padding-top: 5px;
}

/* ==========================================================================
  c-input
   ========================================================================== */

.control {
    border-bottom: 1px solid #bbb;
    position: relative;
}
input, .input {
    line-height: 1.5;
    height: 2.1em;
    border: none;
    background-color: #fff;
    transition: all 0.3s ease-out;
    margin-top: 20px;
    padding-left: 6px;
    // border-radius: .2em;
    // width: 100%;
    // padding: .3em .6em;
    // border: 2px solid #ccc;

    &:focus {
        // border: 2px solid #aaa;
        outline: 0;
    }
    &:required::placeholder {
        color: $g-primary-color-darker;
    }
}

label {
    position: absolute;
    font-size: 14px;
    top: 5px;
    left: 4px;
    color: $g-primary-color-dark;
}

input:invalid {
	background: rgba(207, 163, 19, 0.1);
}

input:placeholder-shown + label {
    opacity: 0;
}

input:not(:placeholder-shown) + label {
    opacity: 1;
	display: block;
	position: absolute;
	color: $g-primary-color-dark;
    @include transition(opacity, .3s, ease-out);
    &::after {
        content: ' *';
        color: #222;
    }
}

input:not(:placeholder-shown):invalid {
    background: rgba(207, 19, 19, 0.1);
    @include transition(all, 4s, ease-out);
}
// input:not(:placeholder-shown):not(:focus):invalid {
// 	background: rgba(207, 19, 19, 0.1);
//     @include transition(all, .3s, ease-out)
// }
//TOD: clean up
select.invalid:invalid, input.invalid:invalid {
    background: hsla(16, 100%, 47%, .1);
    transition: all, 4s, ease-out;
}
